* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}
body {
  font-size: 16px;
  background: url(images/02.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}

.header {
  width: 300px;
  margin: 60px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 7px;
  padding: 10px;
}
.title{
  width: 800px;
  margin: 40px auto 0px;
  font-size: 30px;
  font-family: sans-serif;
  color: #E5F3FF;


}
.welcome{
	width: 950px;
	margin: 150px auto 0px;
	text-align: center;
	font-size: 28px;
	color: green;
}
.welcome h3{
	color: #3C46C4;
}
form, .content{
  width: 300px;
  margin: 0px auto 0px;
  padding: 10px;
  border: 1px solid #B0C4DE;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 1px;
  color: #FFFF00;
}
.input-group input {
  height: 20px;
  width: 90%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  background: #A5D2EB;
}


.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.member{
  color: #E0C67A;
}
.error{
  width: 90%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}


